.SearchBarContainer{
  grid-column-start: 2;
  grid-column-end: 5;
  margin: auto;
 height: 90px;
 padding-top: 30px;
 width: 80%;
}

input{
  font-family: inherit;
  border: 0;
  border-bottom: 3px solid #69433f;
  outline: 0;
  font-size: 1.3rem;
  color: rgb(58, 41, 41);
  padding: 7px;
  background: transparent;
  transition: border-color 0.2s;
  margin: auto;
  display: inline;
}

.btnClass{
  align-items: center;
  background-color: #69433f;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #a7a7a7;
  cursor: pointer;
  display: inline;
  fill: currentcolor;
  font-size: 14px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  width: auto;
}

.btnClass:hover {
  background: #F6F9FE;
  color: #353636;
}
.btnClass:focus {
  outline: none;
  border: 1px solid #000000;
}